# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.hex

# Debug files
*.dSYM/
*.su

*.lss
*.sym
*.map
*.bin
*.eep
*.d


*.bak
*.BAK
